/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
:root{
    --colornuevo: red
}
body{
    font-family: "Figtree", sans-serif;
}


@media (max-width: 767.98px) {
    .offcanvas-custom {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .offcanvas-custom {
        width: 400px;
    }
}
.btn-circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 1rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 10rem;
    height: auto;
    
}
.original {
    --logo-main-color: #223650;
    --logo-secondary-color: #95c11f
}
.claro {
    --logo-main-color: #f4f3ef;
    --logo-secondary-color: #95c11f
}

.bg-beige {
    background-color: #f4f3ef;
}
